{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block articles %}


<div class="col-md-11" style="padding-bottom:10px;">
        {% if article %}
            <div class="">
                 <h1 style="margin-top: 0px;"><a href="{% url 'description' article.id %}" title="{{ article.title}}"> {{ article.title}}</a> </h1>
                    <p>{{ article.pub_date|date:"l, F dS,o" }} | <a href="#">{{ article.author }}</a> </p>
                <center><img class="img-responsive" style="max-height:300px;width:100%" src="/media/{{ article.hero_img }}"/></center>
                <div class="caption-full">


                    <p>
                        {% if article.secondary_img %}
                            <span class="pull-left" style="text-align: justify;text-justify: inter-word; width:65%">{{ article.description }}</span>
                            <img class="pull-right" style="width:30%;" src="/media/{{ article.secondary_img }}"/>
                        {% else %}
                            <span class="pull-left" style="text-align: justify;text-justify: inter-word; width:100%">{{ article.description }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
    {% else %}
        <p>No articles are available.</p>
        {% endif %}

        </div>

{% endblock %}