<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogale</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog">BLOGALE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="{% url 'description' random_article_id %}">Random</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">

    <div class="row">

        <div class="col-md-1">
            <!--<p class="lead"></p>-->
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <span class="glyphicon glyphicon-tasks" style="margin-left:-5px"></span>
                    &nbsp;
                    <span class="glyphicon glyphicon-search" style="margin-right:-5px"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-book"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-comment"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-globe"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                </a>
            </div>
        </div>

            {% block articles %}
            {% endblock %}

    </div>

    <div class="row">

            <div class="col-lg-12">
                 <hr style="margin:0px;">
                <div class="col-lg-10"><h3>What to Read Next</h3></div>
                <div class="col-lg-2" style="text-align: right;"><h3><a><span class="glyphicon glyphicon-menu-left"></span></a> <span style="vertical-align: top;">|</span> <a><span class="glyphicon glyphicon-menu-right"></span></a></h3></div>
                <div style="clear:both;"></div>

                 <hr style="margin-top:0px;">
            </div>

        </div>

    <div class="row text-center">
            {% for article in related_articles %}
            <div class="col-md-3 col-sm-6 hero-feature">
               <a title="{{ article.title }}" href="{% url 'description' article.id %}">
                <div class="thumbnail">
                    <img src="/media/{{ article.hero_img }}" alt="" style="height:195px;">
                    <div class="caption">
                        <h3>{{ article.title| truncatewords:6 }}</h3>
                        <p></p>

                    </div>
                </div>
                   </a>
            </div>
            {% endfor %}


        </div>

</div>



<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Blogale 2015</p>
            </div>
        </div>
    </footer>

</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>

</html>